<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AMDRadeonX5000</string>
	<key>CFBundleGetInfoString</key>
	<string>AMDRadeonX5000 1.58.30 18928</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.kext.AMDRadeonX5000</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AMDRadeonX5000 Kernel Extension</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.58.30</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.5.8</string>
	<key>GPUCompanionBundles</key>
	<array>
		<string>AMDRadeonX5000GLDriver.bundle</string>
		<string>AMDRadeonVADriver2.bundle</string>
		<string>AMDRadeonX5000MTLDriver.bundle</string>
	</array>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AMDVega10GraphicsAccelerator</key>
		<dict>
			<key>ATIEnableWideBlitSupport</key>
			<true/>
			<key>ATIUseTearingWideBlit</key>
			<false/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX5000</string>
			<key>GPUDebugNullClientMask</key>
			<integer>0</integer>
			<key>GpuDebugPolicy</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>AMDRadeonX5000_AMDVega10GraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver2</string>
			<key>IOGVACodec</key>
			<string>AMDU7V4</string>
			<key>IOGVAHEVCDecode</key>
			<string>1</string>
			<key>IOGVAHEVCEncode</key>
			<string>1</string>
			<key>IOGVAVTCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>153</integer>
					</dict>
					<key>2</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>153</integer>
					</dict>
					<key>3</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>153</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x68601002 0x68671002 0x687F1002 0x68631002 0x68641002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>200</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
			<key>cail_properties</key>
			<dict>
				<key>CAIL_DisableCailLoadUcode</key>
				<integer>1</integer>
				<key>CAIL_DisableJpegEngine</key>
				<integer>0</integer>
				<key>CAIL_EnableAspmL1</key>
				<integer>0</integer>
				<key>CAIL_EnableLBPWSupport</key>
				<integer>0</integer>
				<key>CAIL_EnableSecureMmFwLoading</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2005-2012 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAcceleratorFamily2</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOSurface</key>
		<string>87.0</string>
		<key>com.apple.kext.AMDRadeonX5000AccelLibs</key>
		<string>1.0</string>
		<key>com.apple.kext.AMDRadeonX5000HWLibs</key>
		<string>1.0</string>
		<key>com.apple.kext.AMDRadeonX5000HWServices</key>
		<string>1.5.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
